<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480754644042-1rtc6son38m9700fkutid129b7560s2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480754644042-1rtc6son38m9700fkutid129b7560s2n</string>
	<key>API_KEY</key>
	<string>AIzaSyBG0gH4v7kJ51e-PzhDazOAHMGT5HV46gE</string>
	<key>GCM_SENDER_ID</key>
	<string>480754644042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jatin.ChatOSphere</string>
	<key>PROJECT_ID</key>
	<string>chatosphere-25d26</string>
	<key>STORAGE_BUCKET</key>
	<string>chatosphere-25d26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480754644042:ios:ae6bf91ae66bec5381a2b3</string>
</dict>
</plist>